@charset "UTF-8";

:root {
    --cor-1: rgb(253, 211, 48);
    --cor-2: rgb(255, 240, 22);
}

@media screen and (max-width: 768px) {
#burguer{
    display: block;
    background-color: var(--cor-1);
    color: black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.imagem{
    width: 80vw;   
}
#burguer:hover{
    background-color: var(--cor-2);
}
menu{
    display: none;
}
menu ul li{
    display: block;
    text-align: center;
}
}

@media screen and (min-width: 768px) {
    .imagem{
        height: 525px;
    }
}